
mat-card{
    width:500px;margin:0 auto;padding:5px;margin-top: 30px;background-color: seashell;padding:0;
}
mat-card-header{
    background-color: tan;text-align: center;
}

table{
    border-collapse:collapse;border:1px solid #FF0000;
    margin:0 auto;width:90%;border-collapse:collapse;border:1px solid #FF0000;background-color: yellowgreen;
}
table th,td,caption{
    border:1px solid #FF0000;
}
button{
    width:30%;background-color: goldenrod;background-color: springgreen;
}